<div class="genid-rounded-corner genid-container">
  <div dojoType="dijit.layout.BorderContainer" gutters="false" class="genid-border-container" dojoAttachPoint="_borderContainer">
    
    <!-- TOP: holds the title bar with some icons -->
    <div dojoType="dijit.layout.ContentPane" region="top" class="genid-top-region" id="${id}-titlebar">
      <div class="genid-top-div">
        <span class="genid-left-corner">
          <img class="genid-icons" dojoattachpoint="_chainIcon" src="${basePath}/images/attached.png" title="click to detach from the map" dojoattachevent="onclick: _chainHandler"/>
          ${label}
        </span>
        <span class="genid-right-corner">
          <img class="genid-icons" src="${basePath}/images/gear.png" title="options" dojoattachevent="onclick: _showOptionsPage"/>
          <img class="genid-icons" src="${basePath}/images/cross.png" title="hide" dojoattachevent="onclick: _closeWidget"/>
        </span>
      </div>
    </div>
  
    <!-- BOTTOM -->
    <div dojoType="dijit.layout.ContentPane" region="bottom" class="genid-bottom-region"></div>
  
    <!-- LEFT: acts as the back button that when clicked displays the list of features -->
    <div dojoType="dijit.layout.ContentPane" region="left" class="genid-left-region" dojoAttachPoint="_backButtonRegion" dojoAttachEvent="onClick: _backButtonClickHandler"></div>
  
    <!-- RIGHT -->
    <div dojoType="dijit.layout.ContentPane" region="right" class="genid-right-region"></div>
  
    <!-- CENTER: body of this dijit -->
    <div dojoType="dijit.layout.ContentPane" region="center">
      <div dojoType="dijit.layout.StackContainer" class="genid-stack-container" id="${id}-stack" dojoAttachPoint="_stackContainer">
        
        <!-- PAGE 1 - LIST OF FEATURES: visible by default -->
        <div dojoType="dijit.layout.ContentPane">
          <table dojoType="dojox.grid.DataGrid" dojoAttachPoint="_featureGrid" dojoAttachEvent="onRowClick: _gridRowClickHandler, onRowMouseOver: _gridRowMouseOverHandler" updateDelay="0">
            <thead>
              <tr>
                <!-- See Identify.js where _cellFormatter() is defined -->
                <th field="feature_name" formatter="dijits.identify.Identify._cellFormatter" width="150px">Features <span id="${id}-count">(0)</span></th>
              </tr>
            </thead>
          </table>
        </div>
        
        <!-- PAGE 2 - ATTRIBUTES -->
        <div dojoType="dijit.layout.ContentPane">
          <table dojoType="dojox.grid.DataGrid" dojoAttachPoint="_infoGrid">
            <thead>
              <tr>
                <!-- See Identify.js where _cellFormatter() is defined -->
                <th field="field_value" formatter="dijits.identify.Identify._cellFormatter" width="150px">Attributes</th>
              </tr>
            </thead>
          </table>
        </div>
        
        <!-- PAGE 3 - OPTIONS -->
        <div dojoType="dijit.layout.ContentPane">
          <div class="genid-options-div">
            <b>Options:</b><br/><br/>
            <label for="${id}-opt-tolerance">Tolerance:&nbsp;</label>
            <input dojoType="dijit.form.NumberSpinner" class="genid-opt-tolerance" dojoAttachPoint="_optTolerance" value="1" smallDelta="1" largeDelta="1" maxLength="1" constraints="{min:1, max:5}" /><br/><br/>
            <b>Map services to identify:</b><br/><br/>
            <div>${_optionsHtml}</div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>