/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. */


/* 
GLOBAL STYLES
----------------
Add styles beneath this line that you want to be applied across your entire site */


/* Overide:  Change settings of the description on the frontpage banner- TD */
/* Top Title Portion */
.homepage-banner h1 {		
    position: absolute;		
    top: 2%;		
    left: 3%;		
    right: 20%;		
    color: #fff;		
    text-align: left;		
    font-size: 3.631em;
  } 

/* Bottom Description/ Links */
.homepage-banner .description {
    position: absolute;
    top: 80%;
    left: 3%;
    right: 25%;
    color: #f1f1f0 !important;
    style="background-color:#F0F0F0;
    font-size: 1.618em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    -webkit-border-radius: 0.236em;
    border-radius: 0.236em;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }

/*  Change the color of the description on the header image- TD */
/* a { color: #f1f1f0 !important; } */ 

/* Taken off the top due to not using the checkout feature- TD 20140625 */
/*  #top .wc-nav li.checkout {
    display: inline-block;
  } */

/*Center the header and Navigation bar- TD 201400626*/
#header hgroup, #header #logo {
float: none;
}
#logo img {
margin: 0 auto;
display: block;
}

@media only screen and (min-width: 768px) {
#header #navigation {
float: left;
width: 100%;
position: relative;
}

#header #navigation ul.nav {
clear: left;
float: left;
list-style: none;
margin: 0;
padding: 0;
position: relative;
left: 50%;
text-align: center;
}

#navigation ul.nav li {
display: block;
float: left;
list-style: none;
margin: 0;
padding: 0;
position: relative;
right: 50%;
}
#navigation ul.nav li li {
right: auto;
text-align: left;
}

}

#s {
width: 52%;
position: relative;
margin-left: 20%;
text-align: center;
}

/* Edits by RDP: remove the radio button next to the search bar GEOSTOREDITS */
li {
 display: block;
}

a.button {
	color: white !important;
}
/* RDP change the add to cart button text color GEOSTOREDITS */
a.button.add_to_cart_button.product_type_simple {
	color: white !important;
}

/* RDP change the 'read more' button text color GEOSTOREDITS */
a.button.product_type_simple {
	color: white !important;
}

a.button.product_type_simple span{
	padding-left: 20px;
	background: url('http://www.geostor.org/Sencha/icons/zip.png') no-repeat;	
}

a.button.product_type_wms span{
	padding-left: 20px;
	background: url('http://www.geostor.org/Sencha/icons/layer_wms.png') no-repeat;	
}

a.button.view {
	color: white !important;
}
/* set display to none to hide the clipper on page load    */
#county_clipper_field {
	display: none;
}
/* set display to none to hide the clipper on page load    */
#city_clipper_field {
	display: none;
}
/* set display to none to hide the clipper on page load    */
#extent_clipper_field {
	display: none;
}
/* set display to none to hide the clipper on page load    */
#doqq_clipper_field {
	display: none;
}
/* added for Imagery note */
#imagerynotecontainer{
	height: 300px;
	display: none;
}
.imagerynotetable{
	border: 1px solid black;
	padding: 10px;
}

.imagerynotetd{
	padding-top:20px;
  	padding-bottom:20px;
  	padding-left:20px;  
}
.imagerynotetitle{
	text-align: center;
	font-weight: bold;
	background-color: red;
	color: white;
}
/* 
DESKTOP STYLES
-----------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site */

@media only screen and (min-width: 768px) {
	/* Desktop styles go here */
}