<?xml version="1.0" ?>
<!--
////////////////////////////////////////////////////////////////////////////////
//
// Copyright © 2008 ESRI
//
// All rights reserved under the copyright laws of the United States.
// You may freely redistribute and use this software, with or
// without modification, provided you include the original copyright
// and use restrictions.  See use restrictions in the file:
// <install location>/FlexViewer/License.txt
//
////////////////////////////////////////////////////////////////////////////////
-->
<configuration>
	<userinterface>
		<banner>visible</banner>
		<title>GeoStor 6.0 Viewer</title>
		<subtitle>Arkansas Geographic Information Office</subtitle>
		<logo></logo>
		<stylesheet>com/esri/solutions/flexviewer/themes/darkangel/style.swf</stylesheet>
		<menus>
			<menu id="menuMap" visible="true" icon="com/esri/solutions/flexviewer/assets/images/icons/i_globe.png">Map</menu>
			<menu id="menuNav" visible="true" icon="com/esri/solutions/flexviewer/assets/images/icons/i_nav.png">Navigation</menu>
			<menu id="menuWidgets" visible="true" icon="com/esri/solutions/flexviewer/assets/images/icons/i_widget.png">Tools</menu>
			<menu id="menuHelp" visible="true" icon="com/esri/solutions/flexviewer/assets/images/icons/i_help.png">Help</menu>
		</menus>
	</userinterface>
	<map>
		<basemaps menu="menuMap">
			<mapservice label="Street Map" type="tiled" visible="true" alpha="1" icon="com/esri/solutions/flexviewer/assets/images/icons/i_highway.png">http://www.geostor.arkansas.gov/ArcGIS/rest/services/BASEMAP/MapServer</mapservice>		
				<mapservice label="Satellite Map" type="tiled" visible="false" alpha="1" icon="com/esri/solutions/flexviewer/assets/images/icons/i_shuttle.png">http://www.geostor.arkansas.gov/ArcGIS/rest/services/ORTHO2006/MapServer</mapservice>
				<mapservice label="Topo" type="tiled" visible="false" alpha="1" icon="com/esri/solutions/flexviewer/assets/images/icons/i_shuttle.png">http://www.geostor.arkansas.gov/ArcGIS/rest/services/DRG_24K/MapServer</mapservice>
				<mapservice label="Relief" type="tiled" visible="false" alpha="1" icon="com/esri/solutions/flexviewer/assets/images/icons/i_shuttle.png">http://www.geostor.arkansas.gov/ArcGIS/rest/services/DRG_24K_HSHADE/MapServer</mapservice>
		</basemaps>
		<livemaps>
            <mapservice label="Basemap" type="dynamic" visible="true" alpha="0.8">http://www.geostor.arkansas.gov/ArcGIS/rest/services/Basemap_Dynamic/MapServer</mapservice>  
		</livemaps>
	</map>
	<navtools>
		<navtool label="Zoom In" icon="com/esri/solutions/flexviewer/assets/images/icons/i_zoomin.png" menu="menuNav">zoomin</navtool>
		<navtool label="Zoom Out" icon="com/esri/solutions/flexviewer/assets/images/icons/i_zoomout.png" menu="menuNav">zoomout</navtool>
		<navtool label="Full Extent" icon="com/esri/solutions/flexviewer/assets/images/icons/i_zoomfull.png" menu="menuNav">zoomfull</navtool>
		<navtool label="Move Map" icon="com/esri/solutions/flexviewer/assets/images/icons/i_pan.png" menu="menuNav">pan</navtool>
	</navtools>
	<widgets>
		<widget label="Live Maps" preload="minimized" icon="com/esri/solutions/flexviewer/assets/images/icons/i_folder.png" menu="menuMap" config="com/esri/solutions/flexviewer/widgets/LiveMapsWidget.xml">com/esri/solutions/flexviewer/widgets/LiveMapsWidget.swf</widget>
		<widget label="Overview Map" preload="minimized" icon="com/esri/solutions/flexviewer/assets/images/icons/i_overview.png" menu="menuMap" config="com/esri/solutions/flexviewer/widgets/OverviewMapWidget.xml">com/esri/solutions/flexviewer/widgets/OverviewMapWidget.swf</widget>	
		<widget label="Bookmarks" icon="com/esri/solutions/flexviewer/assets/images/icons/i_bookmark.png" menu="menuMap" config="com/esri/solutions/flexviewer/widgets/BookmarkWidget.xml">com/esri/solutions/flexviewer/widgets/BookmarkWidget.swf</widget>	
		<widget label="Search" preload="minimized" icon="com/esri/solutions/flexviewer/assets/images/icons/i_search.png" menu="menuWidgets" config="com/esri/solutions/flexviewer/widgets/SearchWidget.xml">com/esri/solutions/flexviewer/widgets/SearchWidget.swf</widget>	
		<widget label="Print" icon="com/esri/solutions/flexviewer/assets/images/icons/i_print.png" menu="menuMap" config="com/esri/solutions/flexviewer/widgets/PrintWidget.xml">com/esri/solutions/flexviewer/widgets/PrintWidget.swf</widget>
		<widget label="Locate" icon="com/esri/solutions/flexviewer/assets/images/icons/i_pushpin.png" menu="menuWidgets" config="com/esri/solutions/flexviewer/widgets/LocateWidget.xml">com/esri/solutions/flexviewer/widgets/LocateWidget.swf</widget>
		<widget label="Draw" icon="com/esri/solutions/flexviewer/assets/images/icons/i_draw.png" menu="menuWidgets" config="com/esri/solutions/flexviewer/widgets/DrawWidget.xml">com/esri/solutions/flexviewer/widgets/DrawWidget.swf</widget>	
		<widget label="About" icon="com/esri/solutions/flexviewer/assets/images/icons/i_about.png" menu="menuHelp" config="com/esri/solutions/flexviewer/widgets/AboutWidget.xml">com/esri/solutions/flexviewer/widgets/AboutWidget.swf</widget>
	</widgets>
	<links>
		<link label="Help" icon="com/esri/solutions/flexviewer/assets/images/icons/i_help.png" menu="menuHelp">http://www.geostor.arkansas.gov/G6/Home.html?q=help</link>
		<link label="Home" icon="com/esri/solutions/flexviewer/assets/images/icons/i_home.png" menu="menuHelp">http://www.geostor.arkansas.gov/</link>
		<link label="Resources" icon="com/esri/solutions/flexviewer/assets/images/icons/i_resources.png" menu="menuHelp">http://www.geostor.arkansas.gov/</link>
	</links>
	<proxytype>php</proxytype> <!-- apache|jsp|asp|php -->
</configuration>
