.genid-container        { width: 225px; height: 250px; z-index: 99; position: absolute; border: 1px solid #F2F5F9; background-color: #666666; color: #FFFFFF; font-family: Geneva,Arial,Helvetica,sans-serif; }
.genid-border-container { width: 100%; height: 100%; }
.genid-top-region       { cursor: default; }
.genid-top-div          { padding: 5px; height: 1em; overflow: hidden; }
.genid-left-corner      { float: left; font-size: 14px; }
.genid-right-corner     { float: right; }
.genid-icons            { cursor: pointer; }
.genid-bottom-region    { height: 15px; overflow: hidden; }
.genid-right-region     { width:  15px; }
.genid-left-region      { width: 15px; text-align: center; font-weight: bolder; color: #FFFFFF; background-color: #666666; cursor: default; }
.genid-stack-container  { background-color: #FFFFFF; color: #000000; }
.genid-options-div      { padding: 5px; font-size: 12px; }
.genid-opt-tolerance    { width: 60px; }
.genid-attr-name, .genid-layer-name        
                        { float: right; font-size: 75%; color: #666666; }
.genid-focus-link       { color: #0000FF; }
.genid-grid-row         { float: left; display: none; font-size: 75%; color: #666666; }              

/* rounded corners don't work in Internet Explorer */
.genid-rounded-corner   {
  -o-border-radius: 10px; -moz-border-radius: 12px; -webkit-border-radius: 10px; border-radius: 10px;
  -moz-box-sizing: border-box; -opera-sizing: border-box; -webkit-box-sizing: border-box; -khtml-box-sizing: border-box; box-sizing: border-box; 
  overflow: hidden;
}
