@import "http://serverapi.arcgisonline.com/jsapi/arcgis/2.1/js/dojo/dijit/themes/tundra/tundra.css";
/*for nav toolbar */
  .zoominIcon { background-image:url(../images/nav/nav_zoomin.png); width:16px; height:16px; }
  .zoomoutIcon { background-image:url(../images/nav/nav_zoomout.png); width:16px; height:16px; }
  .zoomfullextIcon { background-image:url(../images/nav/nav_fullextent.png); width:16px; height:16px; }
  .zoomprevIcon { background-image:url(../images/nav/nav_previous.png); width:16px; height:16px; }
  .zoomnextIcon { background-image:url(../images/nav/nav_next.png); width:16px; height:16px; }
  .panIcon { background-image:url(../images/nav/nav_pan.png); width:16px; height:16px; }
  .deactivateIcon { background-image:url(../images/nav/nav_decline.png); width:16px; height:16px; }
  .helpIcon { background-image:url(../images/nav/information.png); width:16px; height:16px; }	
  .mapIcon { background-image:url(../images/nav/map-service.png); width:16px; height:16px; }	
  /*for drawing toolbar */
  .pointIcon { background-image:url(../images/draw/i_draw_point.png); width:40px; height:40px; }
  .lineIcon { background-image:url(../images/draw/i_draw_line.png); width:40px; height:40px; }
  .plineIcon { background-image:url(../images/draw/i_draw_line.png); width:40px; height:40px; }
  .polygonIcon { background-image:url(../images/draw/i_draw_poly.png); width:40px; height:40px; }
  .fplineIcon { background-image:url(../images/draw/i_draw_freeline.png); width:40px; height:40px; }
  .fpolygonIcon { background-image:url(../images/draw/i_draw_freepoly.png); width:40px; height:40px; }
  .pointIcon { background-image:url(../images/draw/i_draw_point.png); width:40px; height:40px; }
  .clearIcon { background-image:url(../images/draw/i_clear.png); width:40px; height:40px; }
  html, body { 
	height: 100%; width: 100%; margin: 0; 
  } 
  body{
	background-color:white; overflow:hidden; 
	font-family: "Trebuchet MS"; 
  }
  #header {
	/*background-image: url('images/banner.jpg'); background-repeat: repeat-x;*/
	margin: 2px;
	border: solid 4px #224a54;
	color:black; font-size:18pt; 
	text-align:center; font-weight:bold; height:70px;
  }
  #subheader {
	font-size:small;
	color:white;
	padding-left:20px;
  }
  #rightPane{
	background-color:white;
	color:#3f3f3f;
	border: solid 2px #224a54;
	width:20%;
  }
  #leftPane{
	margin: 5px;
	padding:2px;
	background-color:white;
	color:#3f3f3f;
	border: solid 4px #224a54;
	width:20%;
 }
  #map {
height: 100%; width: 100%; margin: 0; 
  }
   #center {
	margin: 5px;
	border:solid 4px #224a54;
	-moz-border-radius: 4px;
overflow:hidden;
  }
  #footer {
	margin: 2px;
	border: solid 2px #224a54;
	background-color:#ecefe4;color:#3f3f3f;
   font-size:10pt; text-align:center; height:40px;
  }
  .dijitTabInnerDiv{
	background-color:#ecefe4;
  }
  #tabs{
	padding:5px;
  }
